<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    componentes ui
  </ion-list-header>

  <ion-list>
    <ion-item href='/ion-badge'>ion-badge</ion-item>
    <ion-item href='/button'>button</ion-item>
    <ion-item href='/chekbox'>checkbox</ion-item>
    <ion-item href='/chip'>chip</ion-item>
    <ion-item href='/data'>data</ion-item>
    <ion-item href='/ion-radio'>radio</ion-item>
    <ion-item href='/ion-range'>range</ion-item>
  </ion-list>

</ion-content>
